<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Осмотр-и-обработка-данных" data-toc-modified-id="Осмотр-и-обработка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Осмотр и обработка данных</a></span><ul class="toc-item"><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Описание данных</a></span></li><li><span><a href="#Описание-таблиц-из-базы-данных-Wildberries-API" data-toc-modified-id="Описание-таблиц-из-базы-данных-Wildberries-API-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Описание таблиц из базы данных Wildberries API</a></span></li><li><span><a href="#Описание-таблиц-из-базы-данных-Google-Docs-(таблицы)" data-toc-modified-id="Описание-таблиц-из-базы-данных-Google-Docs-(таблицы)-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Описание таблиц из базы данных Google Docs (таблицы)</a></span></li><li><span><a href="#Подключение-к-базе-данных-Wildberries-API-,-загрузка-файлов-и-первичный-осмотр" data-toc-modified-id="Подключение-к-базе-данных-Wildberries-API-,-загрузка-файлов-и-первичный-осмотр-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Подключение к базе данных Wildberries API , загрузка файлов и первичный осмотр</a></span><ul class="toc-item"><li><span><a href="#Таблица-о-заказах-(df_orders).-Первичная-информация,-типах-данных,-пропусках,-дубликатах-и-предобработка-данных." data-toc-modified-id="Таблица-о-заказах-(df_orders).-Первичная-информация,-типах-данных,-пропусках,-дубликатах-и-предобработка-данных.-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Таблица о заказах (df_orders). Первичная информация, типах данных, пропусках, дубликатах и предобработка данных.</a></span></li><li><span><a href="#Таблица-о-продажах-(df_sales).-Первичная-информация,-типах-данных,-пропусках,-дубликатах-и-предобработка-данных." data-toc-modified-id="Таблица-о-продажах-(df_sales).-Первичная-информация,-типах-данных,-пропусках,-дубликатах-и-предобработка-данных.-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Таблица о продажах (df_sales). Первичная информация, типах данных, пропусках, дубликатах и предобработка данных.</a></span></li><li><span><a href="#Таблица-об-отчёте-о-продажах(df_sales_reports).-Первичная-информация,-типах-данных,-пропусках,-дубликатах-и-предобработка-данных." data-toc-modified-id="Таблица-об-отчёте-о-продажах(df_sales_reports).-Первичная-информация,-типах-данных,-пропусках,-дубликатах-и-предобработка-данных.-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Таблица об отчёте о продажах(df_sales_reports). Первичная информация, типах данных, пропусках, дубликатах и предобработка данных.</a></span></li></ul></li><li><span><a href="#Таблицы-из-базы-данных-Google-Docs-(таблицы)" data-toc-modified-id="Таблицы-из-базы-данных-Google-Docs-(таблицы)-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Таблицы из базы данных Google Docs (таблицы)</a></span></li><li><span><a href="#Выгружаем-данные-из-Юпитер-ноутбук-на-рабочий-компьютер--в-excel." data-toc-modified-id="Выгружаем-данные-из-Юпитер-ноутбук-на-рабочий-компьютер--в-excel.-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Выгружаем данные из Юпитер-ноутбук на рабочий компьютер  в excel.</a></span></li><li><span><a href="#Загружаем-полученные-таблицы-в-Power-BI" data-toc-modified-id="Загружаем-полученные-таблицы-в-Power-BI-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Загружаем полученные таблицы в Power BI</a></span></li></ul></li></ul></div>

 # Оценка бизнеса и рентабельности продаж товаров на площадке WB для компании ИП Кулемина.

**Описание бизнеса:**  

- Продажа товаров на площадке WB. Метод поставки FBS. Данные по остаткам не ведут, весь товар находится на складе WB. 
Основная номенклатура **пуховые платки под разными брендами и перчатки из кожи.**  
- В компании есть 2 менеджера по продажам, закупщик и кладовщик-маркетолог. 
Отчетом будет пользоваться собственник и закупщики.
- Регулярно поставляют товар на WB склады. 

**Боли:**  
- Не понимают сколько стоят их продажи.  
- Хотят увидеть реальные затраты на продажу – логистику, комиссию, налоги.  
- Сложно оценить какой товар не покупают или перестают покупать.  
- Просят вывести Топы лидеров падения и роста по номенклатуре.  
- Собственник также не понимает какие склады должны быть в приоритете – хочет увидеть статистику продаж по городам. 

**Ожидания и цели клиента:** 
- Получить инструмент для первоначальной оценки бизнеса и рентабельности продаж. 

**Поставленные задачи и приоритет:** 
- Создать автоматизированный и наглядный отчет по блоку финансы в Power BI на основе данных из личного кабинета продавца Wildberries.  
- Упростить отслеживание основных показатели деятельности бизнеса   

**Схема процесса:**  
- При поставке товара на склад WB на него может начисляться стоимость хранения.  
- При продаже товара на площадке за логистику взимается комиссия и комиссия за услуги площадки.  
- При возврате товара от клиента также начисляется сумма логистики.

## Осмотр и обработка данных  
- посмотрим наборы данных
- сделаем предварительные выводы
- поищем аномалии
- найти и обработать пропуски
- заменимть некорректные типы данных
- удалим дубликаты
- приведём данные к нужным типам

###  Описание данных

**Источники данных:**
- *Wildberries API (БД):*
-- Поставки
-- Продажи
-- Отчёт о продажах по реализации
-- Склад
-- Заказы
- *Google Docs (таблицы):*
-- Таблица себестоимости
-- Справочник номенклатуры (артикулов)
-- Тарифы доставки

### Описание таблиц из базы данных Wildberries API

- Таблица df_orders (информация о заказах);  

- Таблица df_sales (информация о продажах);  

- Таблица df_sales_reports (информация об отчётах о продажах);  

- Таблица df_stocks (информация о запасах);  
 
- Таблица df_incomes (информация о доходах);  

- Таблица df_users (информация о пользователях).

### Описание таблиц из базы данных Google Docs (таблицы)

- Таблица df_google_cost_price (информация о себестоимости);  
- Таблица df_google_nomenclature_reference (информация о справочнике номенклатуре);  
- Таблица df_google_delivery_rates (информация о тарифах доставки).

### Подключение к базе данных Wildberries API , загрузка файлов и первичный осмотр

Загружаем необходимые библиотеки для исследования:

In [2]:
import pandas as pd # импортируем библиотеки
from sqlalchemy import create_engine
# С помощью pd.set_option настроим вывод так чтобы:
pd.set_option('display.max_columns', None) 
#pd.set_option('display.max_colwidth', -1)                   # текст в ячейке отражался полностью вне зависимости от длины
#pd.options.display.max_columns = 200 #показываем все колонки в таблицах

Подключаемся к базе данных и загружаем файлы:

In [2]:
# устанавливаем параметры
db_config = {'USERNAME': 'u115241_powerbi', # имя пользователя
             'PASSWORD': 'QKgbytMrmtA8T38m', # пароль
             'HOST': '89.108.115.241',
             'PORT': 5433, # порт подключения
             'DATABASE': 'u115241_test_ba'} # название базы данных

In [3]:
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['USERNAME'],
 db_config['PASSWORD'],
 db_config['HOST'],
 db_config['PORT'],
 db_config['DATABASE'])
# сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode':'disable'})

In [4]:
query = '''
SELECT table_schema,table_name FROM information_schema.tables ORDER BY table_schema,table_name;
'''
pd.io.sql.read_sql(query, con = engine)

           table_schema                         table_name
0    information_schema  administrable_role_authorizations
1    information_schema                   applicable_roles
2    information_schema                         attributes
3    information_schema                     character_sets
4    information_schema     check_constraint_routine_usage
..                  ...                                ...
185              public                             orders
186              public                              sales
187              public                      sales_reports
188              public                             stocks
189              public                              users

[190 rows x 2 columns]

In [5]:
df = pd.io.sql.read_sql(query, con = engine)

Посмотрим структуру базу данных Wildberries API:

In [6]:
df.head(5)

         table_schema                         table_name
0  information_schema  administrable_role_authorizations
1  information_schema                   applicable_roles
2  information_schema                         attributes
3  information_schema                     character_sets
4  information_schema     check_constraint_routine_usage

In [7]:
df['table_schema'].unique()

array(['information_schema', 'pg_catalog', 'public'], dtype=object)

**Структура нашей базе данных PostgreSQL состоит из:**  
`information_schema` - схемы с набором стандартных представлений;  
`pg_catalog` – служебной схемы (или системным каталогом);  
`public` – общей схемы, где присутствует информация о таблицах.

Посмотрим, с какими таблицами нам предстоит работать:

In [8]:
query = '''
SELECT table_name FROM information_schema.tables
WHERE table_schema NOT IN ('information_schema', 'pg_catalog')
AND table_schema IN('public', 'myschema');
'''

In [9]:
pd.io.sql.read_sql(query, con = engine)

      table_name
0         orders
1          sales
2  sales_reports
3         stocks
4        incomes
5          users

**Всего у нас шесть таблиц:**  
- orders(заказы),  
- sales(продажи),  
- sales_reports(отчёт о продажах),    
- stocks(запасы),   
- incomes(доходы), - users(пользователи). 

**Но, для проведения анализа данных, мы будем пользоваться данными только из трёх таблиц:**  
- orders(заказы),  
- sales(продажи),  
- sales_reports(отчёт о продажах)

Загрузим данные из таблиц базы данных  в датафреймы:

In [10]:
df_orders = pd.read_sql("SELECT * FROM orders", con=engine) # получим датафрейм о заказах
df_sales = pd.read_sql("SELECT * FROM sales", con=engine) # получим датафрейм о продажах
df_sales_reports = pd.read_sql("SELECT * FROM sales_reports", con=engine) # получим датафрейм об отчёте о продажах
#df_stocks = pd.read_sql("SELECT * FROM stocks", con=engine) # мы не загружаем данные, т.к. не используются в расчётах
#df_incomes = pd.read_sql("SELECT * FROM incomes", con=engine) # мы не загружаем данные, т.к. не используются в расчётах
#df_users = pd.read_sql("SELECT * FROM users", con=engine) # мы не загружаем данные, т.к. не используются в расчётах

**Создадим функцию для получения первичной информации о датафреймах, типах данных, пропусках,дубликатах:**

In [11]:
def first_look(df_total):
    ''' Функция получения первичной информации о датафрейме'''
    print('----------- Первые 5 строк ------------')
    display(df_total.head(5))
    print('')
    print('')
    print('------------ Типы данных --------------')
    print(df_total.info())
    print('')
    print('')
    print('------------- Пропуски ----------------')
    count=0
    for element in df_total.columns:
        if df_total[element].isna().sum()>0:
            print(element,' - ',df_total[element].isna().sum(),'пропусков')
            count=+1
    if count==0:
        print('Пропусков НЕТ')
    print('')
    print('')
    print('-------------- Дубликаты --------------')
    if df_total.duplicated().sum() > 0:
        print('Дубликатов:',df_total.duplicated().sum())
    else:
        print('Дубликатов НЕТ')

#### Таблица о заказах (df_orders). Первичная информация, типах данных, пропусках, дубликатах и предобработка данных.

In [12]:
first_look(df_orders)

----------- Первые 5 строк ------------

,id,number,date,lastChangeDate,supplierArticle,techSize,barcode,quantity,totalPrice,discountPercent,warehouseName,oblast,incomeID,odid,nmId,subject,category,brand,isCancel,cancel_dt,gNumber,sticker,dag_date
0,d9bb2476-af20-44b2-b78d-f4c293039919,NaN,2022-06-25 19:04:32,2022-06-25 20:55:18,supplierArticle 8,0,2003757777872,NaN,1996.0,75,Санкт-Петербург,Тульская,999999.99,600038847455,33922377,subject 550,category 522,brand 537,False,None,9070970026173001409,,2022-08-23
1,55bee0f8-2246-40fb-bfd7-05d4d217a7aa,NaN,2022-06-05 11:16:47,2022-06-05 19:21:18,supplierArticle 389,0,2000794458160,NaN,1396.0,75,Екатеринбург,Ханты-Мансийский Автономный округ - Югра,999999.99,103802913249,27927387,subject 552,category 522,brand 537,False,None,5982546421098608719,,2022-08-03
2,27b4a50a-c0b2-487e-84ea-219d896cc770,NaN,2022-06-05 16:56:04,2022-06-05 20:17:59,supplierArticle 390,0,2003757777803,NaN,1596.0,75,Краснодар 2,Воронежская,999999.99,103814594263,42193537,subject 552,category 522,brand 537,False,None,839474644672114562,,2022-08-03
3,4c0edf2b-00ce-4901-b8c6-90edad1ef170,NaN,2022-04-20 20:26:36,2022-04-21 00:03:55,supplierArticle 388,0,2000696183429,NaN,996.0,75,Коледино,Москва,0.00,102476760858,16909156,subject 552,category 522,brand 538,False,None,93059117292243740892,,2022-06-19
4,50554d5d-002b-4cad-8216-74bab746357c,NaN,2022-08-03 12:11:44,2022-08-03 14:14:48,supplierArticle 76,0,2003757777421,NaN,1076.0,75,Коледино,Алтайский,0.00,9000216136457,38428613,subject 572,category 528,brand 545,True,2022-08-03,691688404554936623,,2022-09-07

------------ Типы данных --------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 281299 entries, 0 to 281298
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               281299 non-null  object
 1   number           102104 non-null  float64
 2   date             281299 non-null  datetime64[ns]
 3   lastChangeDate   281299 non-null  datetime64[ns]
 4   supplierArticle  281299 non-null  object
 5   techSize         281299 non-null  object
 6   barcode          281299 non-null  object
 7   quantity         102104 non-null  float64
 8   totalPrice       281299 non-null  float64
 9   discountPercent  281299 non-null  int64
 10  warehouseName    281299 non-null  object
 11  oblast           281299 non-null  object
 12  incomeID         281238 non-null  float64
 13  odid             281299 non-null  int64
 14  nmId             281299 non-null  int64
 15  subject          281299 non-null  object
 16  category         281299 non-null  object
 17  brand            281299 non-null  object
 18  isCancel         281299 non-null  bool
 19  cancel_dt        34812 non-null   object
 20  gNumber          281299 non-null  object
 21  sticker          281299 non-null  object
 22  dag_date         193546 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(4), int64(3), object(13)
memory usage: 47.5+ MB
None


------------- Пропуски ----------------
number  -  179195 пропусков
quantity  -  179195 пропусков
incomeID  -  61 пропусков
cancel_dt  -  246487 пропусков
dag_date  -  87753 пропусков


-------------- Дубликаты --------------
Дубликатов НЕТ

#### Таблица о продажах (df_sales). Первичная информация, типах данных, пропусках, дубликатах и предобработка данных.

Смотрим таблицу о продажах (df_sales):

In [13]:
first_look(df_sales)

----------- Первые 5 строк ------------

,id,number,date,lastChangeDate,supplierArticle,techSize,barcode,quantity,totalPrice,discountPercent,isSupply,isRealization,orderId,promoCodeDiscount,warehouseName,countryName,oblastOkrugName,regionName,incomeID,saleID,odid,spp,forPay,finishedPrice,priceWithDisc,nmId,subject,category,brand,IsStorno,gNumber,sticker,dag_date,srid
0,6fc9e70c-0177-4929-801c-22ab1f1b7bff,None,2022-06-03 14:03:49,2022-06-03 14:03:50,supplierArticle 321,0,2002970862044,NaN,1396,75,False,True,NaN,0,Коледино,Россия,Приволжский федеральный округ,Бирский,999999.99,S2844146101,53084311563,0,254.15,299.0,299.0,36191505,subject 638,category 594,brand 611,0,352790145341341573,,2022-08-01,
1,867fe8a1-53b4-4e50-9ab9-1d396669a8b2,None,2022-06-03 14:09:52,2022-06-03 14:10:00,supplierArticle 311,0,2002970862105,NaN,1196,75,False,True,NaN,0,Коледино,Россия,Приволжский федеральный округ,Пензенский,999999.99,S2844184400,103701558384,0,211.65,249.0,249.0,36188542,subject 638,category 594,brand 611,0,8661043845256827068,,2022-08-01,
2,b1c03103-fe0c-456e-9d11-5b5332767cf7,None,2022-06-03 14:01:10,2022-06-03 14:01:55,supplierArticle 100,0,2007242333642,NaN,676,75,False,True,NaN,0,Казань,Россия,Приволжский федеральный округ,Самарская,999999.99,S2844133128,103594763623,0,143.65,169.0,169.0,64097881,subject 638,category 594,brand 611,0,98442643860131464032,,2022-08-01,
3,5dc6656a-d950-4a63-ab23-b58a038f5215,None,2022-06-03 14:14:58,2022-06-03 14:14:59,supplierArticle 103,0,2007242333628,NaN,596,75,False,True,NaN,0,Коледино,Россия,Центральный федеральный округ,Наро-Фоминский,999999.99,S2844222352,103703183480,0,126.65,149.0,149.0,64097884,subject 638,category 594,brand 611,0,8898796257154435421,,2022-08-01,
4,a386f76c-ef42-40a5-a18b-80eb65f87729,None,2022-06-03 14:02:12,2022-06-03 14:03:09,supplierArticle 87,0,2000696183207,NaN,1076,75,False,True,NaN,0,Краснодар 2,Россия,Центральный федеральный округ,Тверская,999999.99,S2844140879,103682171088,0,211.65,249.0,249.0,16677846,subject 638,category 594,brand 611,0,9054260085725838588,,2022-08-01,

------------ Типы данных --------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270290 entries, 0 to 270289
Data columns (total 34 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 270290 non-null  object
 1   number             93443 non-null   object
 2   date               270290 non-null  datetime64[ns]
 3   lastChangeDate     270290 non-null  datetime64[ns]
 4   supplierArticle    270290 non-null  object
 5   techSize           270290 non-null  object
 6   barcode            270290 non-null  object
 7   quantity           93443 non-null   float64
 8   totalPrice         270290 non-null  int64
 9   discountPercent    270290 non-null  int64
 10  isSupply           270290 non-null  bool
 11  isRealization      270290 non-null  bool
 12  orderId            92786 non-null   float64
 13  promoCodeDiscount  270290 non-null  int64
 14  warehouseName      270290 non-null  object
 15  countryName        270290 non-null  object
 16  oblastOkrugName    270290 non-null  object
 17  regionName         270290 non-null  object
 18  incomeID           270245 non-null  float64
 19  saleID             270290 non-null  object
 20  odid               270290 non-null  int64
 21  spp                270290 non-null  int64
 22  forPay             270290 non-null  float64
 23  finishedPrice      270290 non-null  float64
 24  priceWithDisc      270290 non-null  float64
 25  nmId               270290 non-null  int64
 26  subject            270290 non-null  object
 27  category           270290 non-null  object
 28  brand              270290 non-null  object
 29  IsStorno           270290 non-null  int64
 30  gNumber            270290 non-null  object
 31  sticker            270290 non-null  object
 32  dag_date           190025 non-null  object
 33  srid               120191 non-null  object
dtypes: bool(2), datetime64[ns](2), float64(6), int64(7), object(17)
memory usage: 66.5+ MB
None


------------- Пропуски ----------------
number  -  176847 пропусков
quantity  -  176847 пропусков
orderId  -  177504 пропусков
incomeID  -  45 пропусков
dag_date  -  80265 пропусков
srid  -  150099 пропусков


-------------- Дубликаты --------------
Дубликатов НЕТ

#### Таблица об отчёте о продажах(df_sales_reports). Первичная информация, типах данных, пропусках, дубликатах и предобработка данных.

Смотрим таблицу об отчёте о продажах(df_sales_reports):

In [14]:
first_look(df_sales_reports)

----------- Первые 5 строк ------------

,id,realizationreport_id,suppliercontract_code,rrd_id,gi_id,subject_name,nm_id,brand_name,sa_name,ts_name,barcode,doc_type_name,quantity,retail_price,retail_amount,sale_percent,commission_percent,office_name,supplier_oper_name,order_dt,sale_dt,rr_dt,shk_id,retail_price_withdisc_rub,delivery_amount,return_amount,delivery_rub,gi_box_type_name,product_discount_for_report,supplier_promo,rid,ppvz_spp_prc,ppvz_kvw_prc_base,ppvz_kvw_prc,ppvz_sales_commission,ppvz_for_pay,ppvz_reward,ppvz_vw,ppvz_vw_nds,ppvz_office_id,ppvz_office_name,ppvz_supplier_id,declaration_number,sticker_id,ppvz_supplier_name,ppvz_inn,bonus_type_name,dag_date,site_country,penalty,additional_payment,srid,date_from,date_to
0,a212df24-e2bf-48a4-a975-b0072db82b6a,9055376,None,6184997495,7037247,subject_name 23,16677846.0,brand_name 32,sa_name 154,0,2000696183207,Продажа,1,916,229.00,75.0,0.15,Коледино,Продажа,2022-04-04,2022-04-06,2022-04-06,5418099862,229.0,0,0,0.0,Без коробов,75,0,153149226665,0.00,0.12,0.12,28.63,194.65,0.0,28.63,5.73,0,Пункт самовывоза (ПВЗ),0,,,,,None,2022-05-19,None,NaN,NaN,None,None,None
1,6bc95765-3dbf-4396-a3f4-1189d59950ba,9055376,None,6184997496,7037247,subject_name 23,16677846.0,brand_name 32,sa_name 154,0,2000696183207,Продажа,1,916,229.00,75.0,0.15,Коледино,Продажа,2022-04-04,2022-04-06,2022-04-06,5418099706,229.0,0,0,0.0,Без коробов,75,0,203342925320,0.00,0.12,0.12,28.63,194.65,0.0,28.63,5.73,0,Пункт самовывоза (ПВЗ),0,,,,,None,2022-05-19,None,NaN,NaN,None,None,None
2,09f52b8f-74d0-42fd-b5a6-453a6c740df5,9055376,None,6184997497,7037247,subject_name 23,16677846.0,brand_name 32,sa_name 154,0,2000696183207,Продажа,1,916,229.00,75.0,0.15,Коледино,Продажа,2022-04-04,2022-04-06,2022-04-06,5418100430,229.0,0,0,0.0,Без коробов,75,0,203322949215,0.00,0.12,0.12,28.63,194.65,0.0,28.63,5.73,0,Пункт самовывоза (ПВЗ),0,,,,,None,2022-05-19,None,NaN,NaN,None,None,None
3,c3a2cee9-31de-456c-b051-ac391333e9cd,9055376,None,6184997498,7037247,subject_name 23,16677846.0,brand_name 32,sa_name 154,0,2000696183207,Продажа,1,916,229.00,75.0,0.15,Коледино,Продажа,2022-04-02,2022-04-06,2022-04-06,5418100236,229.0,0,0,0.0,Без коробов,75,0,203209497121,0.00,0.12,0.12,28.63,194.65,0.0,28.63,5.73,0,Пункт самовывоза (ПВЗ),0,,,,,None,2022-05-19,None,NaN,NaN,None,None,None
4,41003d75-6411-427e-b271-898ba4541b54,9055376,None,6184997499,7037247,subject_name 23,16677846.0,brand_name 32,sa_name 154,0,2000696183207,Продажа,1,916,217.55,75.0,0.15,Коледино,Продажа,2022-04-05,2022-04-06,2022-04-06,5418100082,229.0,0,0,0.0,Без коробов,75,0,203376196488,0.04,0.12,0.08,19.08,194.65,0.0,19.08,3.82,0,Пункт самовывоза (ПВЗ),0,,,,,None,2022-05-19,None,NaN,NaN,None,None,None

------------ Типы данных --------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609838 entries, 0 to 609837
Data columns (total 54 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           609838 non-null  object
 1   realizationreport_id         609838 non-null  int64
 2   suppliercontract_code        0 non-null       object
 3   rrd_id                       609838 non-null  int64
 4   gi_id                        609838 non-null  int64
 5   subject_name                 609838 non-null  object
 6   nm_id                        609831 non-null  float64
 7   brand_name                   609838 non-null  object
 8   sa_name                      609838 non-null  object
 9   ts_name                      609831 non-null  object
 10  barcode                      609775 non-null  object
 11  doc_type_name                609838 non-null  object
 12  quantity                     609838 non-null  int64
 13  retail_price                 609838 non-null  int64
 14  retail_amount                609838 non-null  float64
 15  sale_percent                 609838 non-null  float64
 16  commission_percent           609838 non-null  float64
 17  office_name                  609602 non-null  object
 18  supplier_oper_name           609838 non-null  object
 19  order_dt                     609838 non-null  object
 20  sale_dt                      609838 non-null  object
 21  rr_dt                        609838 non-null  object
 22  shk_id                       609838 non-null  int64
 23  retail_price_withdisc_rub    609838 non-null  float64
 24  delivery_amount              609838 non-null  int64
 25  return_amount                609838 non-null  int64
 26  delivery_rub                 609838 non-null  float64
 27  gi_box_type_name             609838 non-null  object
 28  product_discount_for_report  609838 non-null  int64
 29  supplier_promo               609838 non-null  int64
 30  rid                          609838 non-null  int64
 31  ppvz_spp_prc                 609838 non-null  float64
 32  ppvz_kvw_prc_base            609838 non-null  float64
 33  ppvz_kvw_prc                 609838 non-null  float64
 34  ppvz_sales_commission        609838 non-null  float64
 35  ppvz_for_pay                 609838 non-null  float64
 36  ppvz_reward                  609838 non-null  float64
 37  ppvz_vw                      609838 non-null  float64
 38  ppvz_vw_nds                  609838 non-null  float64
 39  ppvz_office_id               609838 non-null  int64
 40  ppvz_office_name             504326 non-null  object
 41  ppvz_supplier_id             609838 non-null  int64
 42  declaration_number           609838 non-null  object
 43  sticker_id                   478531 non-null  object
 44  ppvz_supplier_name           529471 non-null  object
 45  ppvz_inn                     512450 non-null  object
 46  bonus_type_name              272 non-null     object
 47  dag_date                     609838 non-null  object
 48  site_country                 322034 non-null  object
 49  penalty                      235114 non-null  float64
 50  additional_payment           235114 non-null  float64
 51  srid                         170831 non-null  object
 52  date_from                    115416 non-null  object
 53  date_to                      115416 non-null  object
dtypes: float64(16), int64(13), object(25)
memory usage: 251.2+ MB
None


------------- Пропуски ----------------
suppliercontract_code  -  609838 пропусков
nm_id  -  7 пропусков
ts_name  -  7 пропусков
barcode  -  63 пропусков
office_name  -  236 пропусков
ppvz_office_name  -  105512 пропусков
sticker_id  -  131307 пропусков
ppvz_supplier_name  -  80367 пропусков
ppvz_inn  -  97388 пропусков
bonus_type_name  -  609566 пропусков
site_country  -  287804 пропусков
penalty  -  374724 пропусков
additional_payment  -  374724 пропусков
srid  -  439007 пропусков
date_from  -  494422 пропусков
date_to  -  494422 пропусков


-------------- Дубликаты --------------
Дубликатов НЕТ

###  Таблицы из базы данных Google Docs (таблицы)

В техническом задании в базе данных Google Docs нам были даны три таблицы:  
- себестоимость,  
- номенклатура,  
- тарифы доставки.  

Мы объединили эти таблицы в одну таблицу `DataSfera_googl_qery` с помощью метода Google Power Query  и данные сохранили в df_google__total.

### Выгружаем данные из Юпитер-ноутбук на рабочий компьютер  в excel.

In [15]:
#выгружаем данные из pandas в excel
df_orders.to_excel("./abc_orders.xlsx", sheet_name='Orders', index=False, encoding='UTF-8')

In [16]:
#выгружаем данные из pandas в excel
df_sales.to_excel("./abc_sales.xlsx", sheet_name='Sales', index=False, encoding='UTF-8')

In [17]:
#выгружаем данные из pandas в excel
df_sales_reports.to_excel("./abc_sales_reports.xlsx", sheet_name='Sales_reports', index=False, encoding='UTF-8')

### Загружаем полученные таблицы в Power BI

[Дашборд в Power BI]